$main-color: #1e7ce6;
$accent-color: #1555bc;
$secondary-accent: #0058dd;
$white: #ffffff;
$black: #000000;

$full-viewport:100vh;
$main-viewport: 90vh;

$main-font:	'Roboto', sans-serif;

$link-border: 2px solid transparent;
$link-border-hover: 2px solid $main-color;

$font-size-h6: 1.125rem;